<h1 class="center"> Nice to meet you <%=name%>.<p>How old are you?</h1>

<form class="center" action="/age" method="post">
	<input type="number" name="age_input">
	<input type="text" name= "name_input" value= <%=name%> hidden>
	<p><input type='submit' value='submit'><p>

</form>