Hello, <%=name%>! How old are you?

<form method="post" action="/age">
<input type="number" name="age_input">
<input type='submit' value= 'Submit'>
<input type="text" name= "name" value = <%=name%> hidden>

</form>