<br><br><br>
<center><h1><%=username%>, you are <%=age%> years old.
<br><br>
What are your three favorite numbers?
<br><br>

<!-- <form action='favorite_numbers' method='post'>
	<input type='number' name='fav_num1_input'>
	<input type='number' name='fav_num2_input'>
	<input type='number' name='fav_num3_input'>
	<input type='text' name='name_input' value= <%=username%> hidden>
	<input type='number' name='age_input' value= <%=age%> hidden>
	<p><input type='submit'></p>
</form></h1></center> -->