<h1 class="center"> So <%=name%>, you are <%=age%> years old.<p>What are your three favorite numbers?</h1>

<form class="center" action='/favnums' method='post'>
	<input type='number' name='fav_num1_input'>
	<input type='number' name='fav_num2_input'>
	<input type='number' name='fav_num3_input'>
	<input type='text' name='name_input' value= <%=name%> hidden>
	<input type='number' name='age_input' value= <%=age%> hidden>
	<p><input type='submit' value='submit'><p>
</form>