<html>
<head>

<link href="css/styles.css" rel="stylesheet">
</head>

<div class="bgcolor"><h1><p class="headline center font">Personal Details App</h1></p>

	<div class="center"><a href="/" class="headline_color center">Start Over</a>
	</div>
</div>	

<%=yield%>

</html>

<br><br><br><br><br><br><br><br><br>
<footer>
<div class="bgcolor"><p id="center"> Posted by: Tim Taylor</p>
<p id="center">Contact Information: <a href="http://minedminds.org">www.Mined Minds</a><p>
</div></footer>